// lightmode
$background-light: #f5f5f5;
$primary-light: #add8e6;
$secondary-light: #87ceeb;
$tertiary-light: #aec6cf;

// darkmode
$background-dark: #262626;
$primary-dark: #6daedf;
$secondary-dark: #5fa4c8;
$tertiary-dark: #7193a8;
$text-dark: white;