@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kenia&family=Patrick+Hand&family=Rubik+Mono+One&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 50px;
  
}

#userbox, #passbox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  
  margin: 5px;
  padding-right: 60px;
} 

.loginDiv {
  display:flex;
  padding: 50px;
  text-align: center;
  justify-content: center;
  margin: 0vh;
  
  
}

#leftSide {
  text-align: center;
  justify-content: center;
  margin-left: 0vw;
  background-color: rgba(247, 243, 233, 0.522);
  border-radius: 15px;
  padding-left: 10vw;
  padding-right: 10vw;
   
  
}

#rightSide {
  background-color: rgb(247, 243, 233);
  
  padding: 10vh;
  border-radius: 15px;
  margin-top: 0;
  padding-top: 12vh;
  padding-bottom: 20vh;
  box-shadow: 0xpx 2px 5px rgb(247, 243, 233);
  
 
  
}

#slider {
  justify-content:center;
}

body {
  background-color: rgb(111, 193, 207);
}

#login, #signup {
  background-color: rgb(44, 229, 115);
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
  padding-right: 29px;
  padding-left: 31px;
  font-size: 16px;
  font-weight: bold;
}

#login {
  margin-bottom: 20px;
}

#login:hover, #signup:hover{
  cursor: pointer;

}

#textLog {
  margin-bottom: 10vh;
  width: 15vw;
  height: 5vw;
  padding-left: 5px;
  animation: changeText 6s linear infinite, bounce 4s ease-out infinite;
    
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(251, 251, 251);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(94, 94, 94);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
}


body {
  background: linear-gradient(180deg, #89c3e3, #4676d4);
  background-size: 400% 400%;

  -webkit-animation: backdrop 4s ease infinite;
  -moz-animation: backdrop 4s ease infinite;
  animation: backdrop 4s ease infinite;
}

@-webkit-keyframes backdrop {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@-moz-keyframes backdrop {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@keyframes backdrop {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}

@keyframes changeText {
  0% {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  25% {
    font-family:'Times New Roman', Times, serif
  }
  50% {
   
      font-family: "Caveat", cursive;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    
  }
  75% {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  100% {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
   
  }
}

@keyframes bounce {

  0% {
    transform:translateY(0px);
  } 
  60% {
    transform:translateY(6px);
  }
  100% {
    transform:translateY(0px);
  }

}

.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 32px;
 
  top: 10vh;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343434;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3.5px;
  bottom: 3.5px;
  background-color: rgb(247, 243, 233);
  -webkit-transition: .4s;
  transition: .4s;
 
}

input:checked + .slider {
  background-color: #343434;
  
}

input:checked + .slider:before {
  animation: animColor .4s forwards
}

@keyframes animColor {
  from {
    background-color: rgb(255, 255, 255);
    
  } 
  to {
    
    background-color: rgb(255, 255, 255);
  }
}
input:focus + .slider {
  box-shadow: 0 0 1px #efefef;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark {
  background: linear-gradient(180deg, #343434, #151313);
  background-size: 400% 400%;

  -webkit-animation: backdrop 4s ease infinite;
  -moz-animation: backdrop 4s ease infinite;
  animation: backdrop 4s ease infinite;
}

@keyframes switch {
  from {
    
  }
}

#navBar {
  font-size:50px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  margin-left: 10px;
}