
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 50px;
  
}

#userbox, #passbox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
} 

.loginDiv {
  display:flex;
  padding: 50px;
  text-align: center;
  justify-content: center;
  margin: 0vh;

  
}

#leftSide {
  text-align: center;
  justify-content: center;
  margin-right: 0vw; 
  
}

#rightSide {
  margin-bottom: 20vh;
  margin-left: 20vw;
  border: 2px solid black;
  padding: 10vh;
  padding-right: 20vw;
  margin-top: 0;
  
  
}

#slider {
  justify-content:center;
}

body {
  background-color: rgb(246, 242, 234);
}

