.dark {
    background: linear-gradient(180deg, #343434, #151313);
    background-size: 400% 400%;
  
    -webkit-animation: backdrop 4s ease infinite;
    -moz-animation: backdrop 4s ease infinite;
    animation: backdrop 4s ease infinite;
  
  }
  