#sidebar {

    background-color: transparent;
    border-style: none;
    font-size: 5.5vh;
    text-align: left;
    justify-content: left;
    position: absolute;
    left: 0px;
    margin: 5px;
    cursor: pointer;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.3s; 
  }
 

.sidenav a {
    padding: 8px 8px 8px 20px;
    margin-left: -15vh;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Patrick Hand', cursive;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  #main {
    transition: margin-left .5s;
  
  }